* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filled {
  height:400px;
  width: 400px;
  display:block;
  background-image: url("/img/loading.gif");
  background-repeat: no-repeat;

}
.wrapper {
  display:block;
  width:200px;
  float:left;
}
